body{
background-image: url('../images/BG2.jpg');
background-repeat: no-repeat;
background-size: cover;
}

#navi{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

#card1{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

#card2{
    font-family: 'Bebas Neue', cursive;
    font-size: 23px;
}

#header{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    background-color: black;
    height: 100px;
 
}

#btn{
    background-color: rgb(224, 159, 60);
    font-family: 'Maven Pro', sans-serif;
}