{% extends 'base.html' %}

{% block title %} About Us {% endblock %}

{% block header %}  
    <h1 id="header">ABOUT US</h1>
{% endblock %}

{% block content %}

    <div class="container p-3 mt-5" style="background-color: bisque;">
        <div class="row">
            <div class="col d-flex justify-content-center" >
                <div class="card" style="background-color: rgb(255, 203, 125);" id="AU">
                    <h1 class="text-center" id="AH">Stay connected, stay subscribed</h1>
                    <h1 class="text-center" id="AH1">Let us remind you!</h1>
                    <p  class="text-center" id="AP">We strive to enable individuals to optimize their financial well-being by providing them with 
                        unparalleled insights into their finances and a range of beneficial services 
                        that assist them in saving time and money. Our ultimate goal is to equip them with an advantage in their financial pursuits.</p>
                    <p class="text-center" id="AP">SubTrackr was established in 2023 by Software Engineer Jose Laurito to aid users in monitoring and receiving reminders about their overlooked subscriptions. The objective is to prevent inadvertent payment for subscriptions that are no longer needed, while also keeping track of all subscriptions and memberships. 
                        This includes details such as when the subscription was initiated, payment frequency, cost, and subscription type.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}