{% extends 'base.html' %}

{% block title %} Add A SubScription {% endblock %}

{% block header %}
<h1 id="create">Add a Subscription</h1>  
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="card mt-5 w-50">
                <div class="card-body">
                    <form action="" method="post">

                        {{ form.csrf_token }}

                        {{ form.subscription.label }}
                        {{ form.subscription(class="form-control", placeholder="Enter Subscription Name" )}}

                        {{ form.amount.label }}
                        {{ form.amount(class="form-control", placeholder="Enter Amount") }}

                        {{ form.date.label }}
                        {{ form.date(class="form-control") }}
                        
                        {{ form.frequency.label }}
                        {{ form.frequency(class="form-control") }}

                        {{ form.image_url.label }}
                        {{ form.image_url(class="form-control", placeholder="Enter Image URL") }}

                        {{ form.submit(class="btn btn-primary w-100 mt-3") }}

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

