{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %}  
    <h1> Profile</h1>
    {% if current_user.is_authenticated %}
        <h5>Nice to See You Again, {{ current_user.username }}! </h5>
    {% else %}
        <h5>Please Sign Up or Log In to Create New Posts</h5>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="container ">
        <div class="row">

                {% for post in posts %}
                        
                            <div class="col-12 col-md-6 col-lg-3 my-3">
                                <div class="card h-100 px-2 my-3">
                                      
                                        <img class="mt-2 rounded" src="./static/images/{{ post.subscription }}.png" alt="" style="width: 250; height: 250;"">
                              
                                        <div class="card-body">
                                            <div class="card-title">{{ post.subscription }}</div>
                                            <div class="card-text">{{ post.date }}</div>       
                                            <div class="card-text">${{ post.amount }}</div>    
                                            <div class="card-text">{{ post.frequency }}</div>
                                        </div>
                                    

                                    
                                        <a href="{{ url_for('edit_post', post_id=post.id) }}", class="btn btn-success">Edit</a>        
                                            <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePostModal-{{ post.id }}">
                                            Delete
                                        </button>
                                    

                                    
                                
                            </div>
                        </div>

                 
                        
                        <!-- Modal -->
                        <div class="modal fade" id="deletePostModal-{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete {{ post.subscription }}?</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        Are you sure you want to delete {{ post.subscription }}? This action cannot be undone.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn-danger">Delete Subscription</a>
                                        </div>
                                    </div>
                            </div>
                        </div>

                {% endfor %}

        </div>
    </div>
{% endblock %}