<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SubTrackr | {% block title %}Base{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>

     <!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">

        {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="/index">
                <img src="./static/Subtrackr nav.png" alt="Subtrackr Logo" style="width: 90px; height: 50px;">
            </a>
        {% else %}
            <a class="navbar-brand" href="/home">
                <img src="./static/Subtrackr nav.png" alt="Subtrackr Logo" style="width: 90px; height: 50px;">
            </a>
        {% endif %}

    
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapseLinks">
            <div class="navbar-nav">
                
                {% if current_user.is_authenticated %}
                    <a class="nav-link mx-2 text-white" aria-current="page" href="/" id="navi">Home</a>
                    <a class="nav-link mx-2 text-white" href="/create" id="navi">Add Subscription</a>
                    <a class="nav-link mx-2 text-white" href="/logout" id="navi">Log Out</a>
                {% else %}
                    <a class="nav-link mx-2 text-white" aria-current="page" href="/home" id="navi">Home</a>
                    <a class="nav-link mx-2 text-white" href="/signup" id="navi">Sign Up</a>
                    <a class="nav-link mx-2 text-white" href="/login" id="navi">Log In</a>
                {% endif %}
                    <a class="nav-link mx-2 text-white" href="/login" id="navi">ABOUT ME</a>
    
            </div>
          </div>
        </div>
      </nav>

      <!-- NAVBAR -->

    <div class="row bg-secondary">
        {% include 'alerts.html' %}
    </div>



 
    <div class="container">
        {% block content %}
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-5">
                <img src="./static/images/Subtrackr1.png" alt="" style="width: 730px; height: 730px;">
            </div>
        </div>
        {% endblock %}
    </div>

    






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>