<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">

      <a class="navbar-brand" href="/home">
          <img src="./static/Subtrackr nav.png" alt="Subtrackr Logo" style="width: 90px; height: 50px;">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapseLinks">
        <div class="navbar-nav">
            <a class="nav-link mx-2 text-white" aria-current="page" href="/" id="navi">Home</a>

            {% if current_user.is_authenticated %}
                <a class="nav-link mx-2 text-white" href="/create" id="navi">Add Subscription</a>
                <a class="nav-link mx-2 text-white" href="/logout" id="navi">Log Out</a>
            {% else %}
                <a class="nav-link mx-2 text-white" href="/signup" id="navi">Sign Up</a>
                <a class="nav-link mx-2 text-white" href="/login" id="navi">Log In</a>
            {% endif %}

        </div>
      </div>
    </div>
  </nav>